@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  background-color: #FAFAFA;
}

body {
  font-family: "Poppins", sans-serif;
  color: #04172C;
}

.nav-el {
  border-bottom: 1px solid #E5E7EB;
  background-color: #Ffffff;
}

.navbar-brand {
  align-items: center;
}

.logo-el {
  line-height: 1.125;
  margin-bottom: 0;
  font-weight: 700;
}

.logo-el a {
  color: #04172C;
}

.hero-content {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 5rem;
}

.title {
  line-height: 1.25;
  color: #04172C;
}

.subtitle {
  line-height: 1.35;
}

.pink-txt {
  color: #D33182
}

.purple-txt {
  color: #8A28C9
}

.blue-txt {
  color: #525CFC
}

.mt-7 {
  margin-top: 6rem;
}

.button {
  font-weight: 600;
}

.button.is-primary {
  background: linear-gradient(#D6317E, #8727CB);
  border-color: #D6317E;
}

.button.is-primary:hover {
  background-color: #8727CB !important
}

.deck-el {
  border-top: 4px solid #9E64FB;
}

.card-el {
  border-top: 4px solid #F8CC32;
}

.deck-el a {
  color: #04172C;
}

.navbar-menu {
  display: inline;
}